.App {
  text-align: center;
  height: 500vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.box{
  position: relative;
  top: 30em;
  width: 200px;
  height: 200px;
  
}

.box2{
  position: relative;
  top: 23em;
  width: 200px;
  height: 200px;
  
}

.box3{
  position: relative;
  top: 23em;
  width: 200px;
  height: 200px;
  
}

.box4{
  position: relative;
  top: 23em;
  width: 200px;
  height: 200px;
  
}

.box img{
  width: 200px;
}

.box2 img{
  position: relative;
  left: 7.5rem;
  top: 3rem;
  width: 100px;
}

.box3 img{
  position: relative;
  left: 7.5rem;
  
  transform: rotate(70deg);
  width: 100px;
}


.box4 img{
  position: relative;
  left: 8rem;
  bottom: 12rem;
  transform: rotate(70deg);
  width: 30px;
}